/* Start Rules */
:root {
    --yellow:#f9ca24;
}
* {
    font-family: 'Cairo', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background:var(--yellow);
    color:#333;
}

#home {
    min-height: 100vh;
    padding: 1rem;
}

#about {
    min-height:40vh;
    margin-top: 10rem;
    padding: 1rem;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width:1.4rem;
}

html::-webkit-scrollbar-track {
    background:#222;
}

html::-webkit-scrollbar-thumb {
    background:var(--yellow);
}

body {
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}


.btn {
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background:var(--yellow);
}


.heading {
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span {
    color:var(--yellow);
}

#menu {
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
/* Ende Rules */
/*  */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount {
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

@media (max-width: 991px) {
    .discount  {
      flex-basis: 100%;
    }
}

.discount::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(9, 9, 9, 0.97);
    z-index: -1;
}

/* Start Animation */
@keyframes change-background {
    0%,
    100% {
      background-image: url("img/1-1.png");
    }
    50% {
      background-image: url("img/images.png");
    }
}
/* End Animation */
/*  */
/* Start Header */
header {
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}

header .user .name  {
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar {
    width:100%;
}

header .navbar ul {
    list-style: none;
    padding:1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background:var(--yellow);
}
/* Ende Header */
/* Start Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color:#fff;
}

.home h1 {
    font-size:5rem;
    color:#fff;
}

.home h1 span {
    color:var(--yellow);
}

.home p {
    font-size:3rem;
    color:#777;
    line-height: 2;
    margin: 10px 0;
    padding: 25px;
    text-align: center;
}
/* Ende Home */
/* Start About */
.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:10rem 0;
}

.about .row .info {
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter {
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span {
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3 {
    font-size: 2rem;
    color:#fff;
}
/* Ende About */
/* Start Education */
.education .box-container {
    display:grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 3fr));
    gap: 40px;
    padding:10rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box span:hover {
    background:var(--yellow);
    color: #222;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    transition: 0.3s;
    background:var(--yellow);
}

.education .box-container .box i:hover {
    transform: translateY(10px);
}
/* Ende Education */
/* Start Skills */
.my-skills {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.skills {
    padding: 100px;
}
.my-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills img {
      display: none;
    }
}

.my-skills .skills {
    flex: 1;
}

.my-skills .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.my-skills .skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--yellow);
}

.my-skills .skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}

.my-skills .skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--yellow);
    transition: width 0.5s linear;
}

.skills h2 {
    font-size: 2rem;
    color:var(--yellow);
    padding:2rem;
    font-weight: normal;
    text-align: center;
}

.the-progress em {
    display: block;
    text-align: center;
    font-size:20px;
}

/* End Skills */
/* Start certificate */
.certificate .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:10rem 0;
}

.certificate .box-container .box {
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 12px 20px rgba(0 0 0 / 13%),0 2px 4px 0 rgb(0 0 0 /12%)
}

.certificate .box-container .box img {
    height:100%;
    width:100%;
    object-fit: cover;
}

.certificate .box-container .box:hover img {
    transform: scale(1.2);
}
/* Ende certificate */
/* Start hobbys */
.hobbys {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.hobbys .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    padding: 50px 50px;
}

.hobbys .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: 0.3s;
    position: relative;
}
 
.hobbys .box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--yellow);
    position: absolute;
    width: 0;
    transition: 0.3s;
}

.hobbys .box:hover {
    transform: translateY(-10px);
}

.hobbys .box:hover::before {
    width: 100%;
}

.hobbys .box > i {
    margin: 30px auto 20px;
    display: block;
    text-align: center;
    color: #d5d5d5;
}

.hobbys .box > h3 {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--yellow);
}

.hobbys .box .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}

.hobbys .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--yellow);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.hobbys .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}

.hobbys .box .info a {
    color: var(--yellow);
}
/* End hobbys */

/* Start Contact */
.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color:var(--yellow);
}


.contact .content  ul { 
    display: flex;
    list-style: none;
    padding: 20px;
    
}
.contact .content  ul li a {
    color:var(--yellow);
    padding:1rem;
    font-size: 24px;
}
/* Ende Contact */



/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px) {

   header {
       left:-120%;
   }

   #menu {
       display: block;
   }

   header.toggle {
    left:0%;
   }

   body {
       padding:0;
   }

}

@media (max-width:768px) {

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px) {

    header {
        width: 100vw;
    }

    .heading {
        margin:0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }
 
    .education .box-container .box {
        width:100%;

    }

    /* .education .box {
        display: flex;
        justify-content: center;
        align-items: center;
    } */


    .portfolio .box-container .box {
        width:100%;
    }

    .contact .row form {
        margin:3rem 0;
    }

 }